<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[兔子]</key>
	<string>face1.png</string>
	<key>[熊猫]</key>
	<string>face2.png</string>
	<key>[给力]</key>
	<string>face3.png</string>
	<key>[嘻嘻]</key>
	<string>face4.png</string>
	<key>[哈哈]</key>
	<string>face5.png</string>
	<key>[爱你]</key>
	<string>face6.png</string>
	<key>[怒]</key>
	<string>face7.png</string>
	<key>[汗]</key>
	<string>face8.png</string>
	<key>[呵呵]</key>
	<string>face9.png</string>
	<key>[神马]</key>
	<string>face10.png</string>
	<key>[浮云]</key>
	<string>face11.png</string>
	<key>[威武]</key>
	<string>face12.png</string>
	<key>[晕]</key>
	<string>face13.png</string>
	<key>[泪]</key>
	<string>face14.png</string>
	<key>[馋嘴]</key>
	<string>face15.png</string>
	<key>[睡觉]</key>
	<string>face16.png</string>
	<key>[钱]</key>
	<string>face17.png</string>
	<key>[偷笑]</key>
	<string>face18.png</string>
	<key>[微风]</key>
	<string>face19.png</string>
	<key>[围观]</key>
	<string>face20.png</string>
	<key>[织]</key>
	<string>face21.png</string>
	<key>[抓狂]</key>
	<string>face22.png</string>
	<key>[哼]</key>
	<string>face23.png</string>
	<key>[可爱]</key>
	<string>face24.png</string>
	<key>[酷]</key>
	<string>face25.png</string>
	<key>[衰]</key>
	<string>face26.png</string>
	<key>[吃惊]</key>
	<string>face27.png</string>
	<key>[闭嘴]</key>
	<string>face28.png</string>
	<key>[鄙视]</key>
	<string>face29.png</string>
	<key>[挖鼻屎]</key>
	<string>face30.png</string>
	<key>[可怜]</key>
	<string>face31.png</string>
	<key>[悲伤]</key>
	<string>face32.png</string>
	<key>[顶]</key>
	<string>face33.gif</string>
	<key>[亲亲]</key>
	<string>face34.png</string>
	<key>[生病]</key>
	<string>face35.png</string>
	<key>[左哼哼]</key>
	<string>face36.png</string>
	<key>[花心]</key>
	<string>face37.png</string>
	<key>[鼓掌]</key>
	<string>face38.png</string>
	<key>[亲一口]</key>
	<string>face39.gif</string>
	<key>[疑问]</key>
	<string>face40.png</string>
	<key>[做鬼脸]</key>
	<string>face41.png</string>
	<key>[害羞]</key>
	<string>face42.png</string>
	<key>[右哼哼]</key>
	<string>face43.png</string>
	<key>[嘘]</key>
	<string>face44.png</string>
	<key>[不要]</key>
	<string>face45.png</string>
	<key>[思考]</key>
	<string>face46.png</string>
	<key>[委屈]</key>
	<string>face47.png</string>
	<key>[吐]</key>
	<string>face48.png</string>
	<key>[懒得理你]</key>
	<string>face49.png</string>
	<key>[怒骂]</key>
	<string>face50.png</string>
	<key>[太开心]</key>
	<string>face51.png</string>
	<key>[good]</key>
	<string>face52.png</string>
	<key>[弱]</key>
	<string>face53.png</string>
	<key>[ok]</key>
	<string>face54.png</string>
	<key>[orz]</key>
	<string>face55.gif</string>
	<key>[爱心传递]</key>
	<string>face56.png</string>
	<key>[奥特曼]</key>
	<string>face57.png</string>
	<key>[来]</key>
	<string>face58.png</string>
	<key>[耶]</key>
	<string>face59.png</string>
	<key>[心]</key>
	<string>face60.png</string>
	<key>[最差]</key>
	<string>face61.gif</string>
	<key>[拳头]</key>
	<string>face62.gif</string>
	<key>[haha]</key>
	<string>face63.gif</string>
	<key>[实习]</key>
	<string>face64.gif</string>
	<key>[帅]</key>
	<string>face65.png</string>
	<key>[赞]</key>
	<string>face66.png</string>
	<key>[伤心]</key>
	<string>face67.png</string>
	<key>[握手]</key>
	<string>face68.png</string>
	<key>[猪头]</key>
	<string>face69.png</string>
	<key>[拜拜]</key>
	<string>face70.gif</string>
	<key>[失望]</key>
	<string>face71.gif</string>
	<key>[书呆子]</key>
	<string>face72.gif</string>
	<key>[相机]</key>
	<string>face73.png</string>
	<key>[落叶]</key>
	<string>face74.png</string>
	<key>[咖啡]</key>
	<string>face75.png</string>
	<key>[话筒]</key>
	<string>face76.png</string>
	<key>[月亮]</key>
	<string>face77.png</string>
	<key>[困]</key>
	<string>face78.png</string>
	<key>[黑线]</key>
	<string>face79.png</string>
	<key>[感冒]</key>
	<string>face80.gif</string>
	<key>[蛋糕]</key>
	<string>face81.png</string>
	<key>[围脖]</key>
	<string>face82.png</string>
	<key>[手套]</key>
	<string>face83.png</string>
	<key>[太阳]</key>
	<string>face84.gif</string>
	<key>[干杯]</key>
	<string>face85.png</string>
	<key>[萌]</key>
	<string>face86.png</string>
	<key>[花]</key>
	<string>face87.png</string>
	<key>[足球]</key>
	<string>face88.png</string>
	<key>[雪花]</key>
	<string>face89.png</string>
	<key>[雪人]</key>
	<string>face90.png</string>
	<key>[温暖帽子]</key>
	<string>face91.png</string>
	<key>[礼物]</key>
	<string>face92.png</string>
	<key>[互粉]</key>
	<string>face93.png</string>
	<key>[蜡烛]</key>
	<string>face94.png</string>
	<key>[音乐]</key>
	<string>face95.gif</string>
	<key>[电影]</key>
	<string>face96.gif</string>
	<key>[手机]</key>
	<string>face97.gif</string>
	<key>[自行车]</key>
	<string>face98.gif</string>
	<key>[下雨]</key>
	<string>face99.gif</string>
	<key>[bed凌乱]</key>
	<string>face100.gif</string>
	<key>[绿丝带]</key>
	<string>face101.png</string>
	<key>[钟]</key>
	<string>face102.png</string>
	<key>[囧]</key>
	<string>face103.png</string>
</dict>
</plist>
