<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>[兔子]</string>
	<key>2</key>
	<string>[熊猫]</string>
	<key>3</key>
	<string>[给力]</string>
	<key>4</key>
	<string>[嘻嘻]</string>
	<key>5</key>
	<string>[哈哈]</string>
	<key>6</key>
	<string>[爱你]</string>
	<key>7</key>
	<string>[怒]</string>
	<key>8</key>
	<string>[汗]</string>
	<key>9</key>
	<string>[呵呵]</string>
	<key>10</key>
	<string>[神马]</string>
	<key>11</key>
	<string>[浮云]</string>
	<key>12</key>
	<string>[威武]</string>
	<key>13</key>
	<string>[晕]</string>
	<key>14</key>
	<string>[泪]</string>
	<key>15</key>
	<string>[馋嘴]</string>
	<key>16</key>
	<string>[睡觉]</string>
	<key>17</key>
	<string>[钱]</string>
	<key>18</key>
	<string>[偷笑]</string>
	<key>19</key>
	<string>[微风]</string>
	<key>20</key>
	<string>[围观]</string>
	<key>21</key>
	<string>[织]</string>
	<key>22</key>
	<string>[抓狂]</string>
	<key>23</key>
	<string>[哼]</string>
	<key>24</key>
	<string>[可爱]</string>
	<key>25</key>
	<string>[酷]</string>
	<key>26</key>
	<string>[衰]</string>
	<key>27</key>
	<string>[吃惊]</string>
	<key>28</key>
	<string>[闭嘴]</string>
	<key>29</key>
	<string>[鄙视]</string>
	<key>30</key>
	<string>[挖鼻屎]</string>
	<key>31</key>
	<string>[可怜]</string>
	<key>32</key>
	<string>[悲伤]</string>
	<key>33</key>
	<string>[顶]</string>
	<key>34</key>
	<string>[亲亲]</string>
	<key>35</key>
	<string>[生病]</string>
	<key>36</key>
	<string>[左哼哼]</string>
	<key>37</key>
	<string>[花心]</string>
	<key>38</key>
	<string>[鼓掌]</string>
	<key>39</key>
	<string>[亲一口]</string>
	<key>40</key>
	<string>[疑问]</string>
	<key>41</key>
	<string>[做鬼脸]</string>
	<key>42</key>
	<string>[害羞]</string>
	<key>43</key>
	<string>[右哼哼]</string>
	<key>44</key>
	<string>[嘘]</string>
	<key>45</key>
	<string>[不要]</string>
	<key>46</key>
	<string>[思考]</string>
	<key>47</key>
	<string>[委屈]</string>
	<key>48</key>
	<string>[吐]</string>
	<key>49</key>
	<string>[懒得理你]</string>
	<key>50</key>
	<string>[怒骂]</string>
	<key>51</key>
	<string>[太开心]</string>
	<key>52</key>
	<string>[good]</string>
	<key>53</key>
	<string>[弱]</string>
	<key>54</key>
	<string>[ok]</string>
	<key>55</key>
	<string>[orz]</string>
	<key>56</key>
	<string>[爱心传递]</string>
	<key>57</key>
	<string>[奥特曼]</string>
	<key>58</key>
	<string>[来]</string>
	<key>59</key>
	<string>[耶]</string>
	<key>60</key>
	<string>[心]</string>
	<key>61</key>
	<string>[最差]</string>
	<key>62</key>
	<string>[拳头]</string>
	<key>63</key>
	<string>[haha]</string>
	<key>64</key>
	<string>[实习]</string>
	<key>65</key>
	<string>[帅]</string>
	<key>66</key>
	<string>[赞]</string>
	<key>67</key>
	<string>[伤心]</string>
	<key>68</key>
	<string>[握手]</string>
	<key>69</key>
	<string>[猪头]</string>
	<key>70</key>
	<string>[拜拜]</string>
	<key>71</key>
	<string>[失望]</string>
	<key>72</key>
	<string>[书呆子]</string>
	<key>73</key>
	<string>[相机]</string>
	<key>74</key>
	<string>[落叶]</string>
	<key>75</key>
	<string>[咖啡]</string>
	<key>76</key>
	<string>[话筒]</string>
	<key>77</key>
	<string>[月亮]</string>
	<key>78</key>
	<string>[困]</string>
	<key>79</key>
	<string>[黑线]</string>
	<key>80</key>
	<string>[感冒]</string>
	<key>81</key>
	<string>[蛋糕]</string>
	<key>82</key>
	<string>[围脖]</string>
	<key>83</key>
	<string>[手套]</string>
	<key>84</key>
	<string>[太阳]</string>
	<key>85</key>
	<string>[干杯]</string>
	<key>86</key>
	<string>[萌]</string>
	<key>87</key>
	<string>[花]</string>
	<key>88</key>
	<string>[足球]</string>
	<key>89</key>
	<string>[雪花]</string>
	<key>90</key>
	<string>[雪人]</string>
	<key>91</key>
	<string>[温暖帽子]</string>
	<key>92</key>
	<string>[礼物]</string>
	<key>93</key>
	<string>[互粉]</string>
	<key>94</key>
	<string>[蜡烛]</string>
	<key>95</key>
	<string>[音乐]</string>
	<key>96</key>
	<string>[电影]</string>
	<key>97</key>
	<string>[手机]</string>
	<key>98</key>
	<string>[自行车]</string>
	<key>99</key>
	<string>[下雨]</string>
	<key>100</key>
	<string>[bed凌乱]</string>
	<key>101</key>
	<string>[绿丝带]</string>
	<key>102</key>
	<string>[钟]</string>
	<key>103</key>
	<string>[囧]</string>
</dict>
</plist>
