<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[微笑]</string>
	<string>[撇嘴]</string>
	<string>[色]</string>
	<string>[发呆]</string>
	<string>[得意]</string>
	<string>[流泪]</string>
	<string>[害羞]</string>
	<string>[闭嘴]</string>
	<string>[睡]</string>
	<string>[大哭]</string>
	<string>[尴尬]</string>
	<string>[发怒]</string>
	<string>[调皮]</string>
	<string>[呲牙]</string>
	<string>[惊讶]</string>
	<string>[难过]</string>
	<string>[酷]</string>
	<string>[冷汗]</string>
	<string>[抓狂]</string>
	<string>[吐]</string>
	<string>[偷笑]</string>
	<string>[愉快]</string>
	<string>[白眼]</string>
	<string>[傲慢]</string>
	<string>[饥饿]</string>
	<string>[困]</string>
	<string>[惊恐]</string>
	<string>[流汗]</string>
	<string>[憨笑]</string>
	<string>[悠闲]</string>
	<string>[奋斗]</string>
	<string>[咒骂]</string>
	<string>[疑问]</string>
	<string>[嘘]</string>
	<string>[晕]</string>
	<string>[疯了]</string>
	<string>[衰]</string>
	<string>[骷髅]</string>
	<string>[敲打]</string>
	<string>[再见]</string>
	<string>[擦汗]</string>
	<string>[抠鼻]</string>
	<string>[鼓掌]</string>
	<string>[糗大了]</string>
	<string>[坏笑]</string>
	<string>[左哼哼]</string>
	<string>[右哼哼]</string>
	<string>[哈欠]</string>
	<string>[鄙视]</string>
	<string>[委屈]</string>
	<string>[快哭了]</string>
	<string>[阴险]</string>
	<string>[亲亲]</string>
	<string>[吓]</string>
	<string>[可怜]</string>
	<string>[菜刀]</string>
	<string>[西瓜]</string>
	<string>[啤酒]</string>
	<string>[篮球]</string>
	<string>[乒乓]</string>
	<string>[咖啡]</string>
	<string>[饭]</string>
	<string>[猪头]</string>
	<string>[玫瑰]</string>
	<string>[凋谢]</string>
	<string>[嘴唇]</string>
	<string>[爱心]</string>
	<string>[心碎]</string>
	<string>[蛋糕]</string>
	<string>[闪电]</string>
	<string>[炸弹]</string>
	<string>[刀]</string>
	<string>[足球]</string>
	<string>[瓢虫]</string>
	<string>[便便]</string>
	<string>[月亮]</string>
	<string>[太阳]</string>
	<string>[礼物]</string>
	<string>[拥抱]</string>
	<string>[强]</string>
	<string>[弱]</string>
	<string>[握手]</string>
	<string>[胜利]</string>
	<string>[抱拳]</string>
	<string>[勾引]</string>
	<string>[拳头]</string>
	<string>[差劲]</string>
	<string>[爱你]</string>
	<string>[NO]</string>
	<string>[OK]</string>
	<string>[爱情]</string>
	<string>[飞吻]</string>
	<string>[跳跳]</string>
	<string>[发抖]</string>
	<string>[怄火]</string>
	<string>[转圈]</string>
	<string>[磕头]</string>
	<string>[回头]</string>
	<string>[跳绳]</string>
	<string>[投降]</string>
</array>
</plist>
